# Tiled Session Files
*.tiled-session

# Build Folder
build.stm32
cmake-build-debug

# Executables
*.exe
*.out
*.app
*.blit
*.elf
*.bin

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
